<div class="login-wrapper">
  <div class="container-common">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <form class="login_box_outer" [formGroup]="resetPasswordForm">
                  <div class="login-logo1 text-center mb30">
                       <img src="../assets/img/logo-blue.png" alt="logo" />
                    </div>
                  <div class="login-box max-WT-520">
                      <div class="login-right-block">
                          <div class="login-heading">
                              <h4 class="font26">Reset Password</h4>
                          </div>
                          <div class="login-box-body">
                              <div class="form-group">
                                  <label class="common-label blue">New Password</label>
                                  <input type="password" class="form-control" placeholder="Enter a new password" [formControl]='resetPasswordForm.controls["password"]' maxlength="16"/>

                                  <div class="error-block" *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.controls['password'].invalid">

                                    <span style='color:red' [ngClass]="{error:resetPasswordForm.controls['password'].hasError('required')}" *ngIf="resetPasswordForm.controls['password'].hasError('required')">*Please enter password.</span>
                                    <!-- <span style='color:red' [ngClass]="{error:addForm.controls['password'].hasError('minlength')}" *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">*Password must be between 8 to 16 characters</span> -->

                                    <!-- <span style='color:red' [ngClass]="{error:addForm.controls['password'].hasError('maxlength')}" *ngIf="resetPasswordForm.controls['password'].hasError('maxlength')">*Password must be between 8 to 16 characters</span> -->

                                    <span style='color:red' [ngClass]="{error:resetPasswordForm.controls['password'].hasError('pattern')}" *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">*Password must be between 8 to 16 characters and contain atleast one special character,one digit</span>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="common-label blue">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Retype your password" [formControl]='resetPasswordForm.controls["confirmPassword"]'maxlength="16"/>
                                <div class="error-block" *ngIf="resetPasswordForm.controls['confirmPassword'].dirty">
                                    <span style='color:red' *ngIf="resetPasswordForm.controls['confirmPassword'].value != resetPasswordForm.controls['password'].value">*Password mismatched.</span>


                                </div>
                            </div>
                              <div class="text-center mt40">
                                  <a class="btn btn-login btn-large" (click)="onResetClick()" >Reset</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>