<app-header-bar></app-header-bar>
<app-side-menu></app-side-menu>

  <main class="middle-content">
      <div class="content-section">
              <div class="page_title_block">
                  <h1 class="page_title">Tutorial Management</h1>
                </div>
              <div class="order-view mt30 max-WT-600 mrgn-0-auto">
              <div class="main-block-innner mb20 mt20">
                  <div class="add-store-block input-style max-WT-500">
                      <div class="mb-4 text-left">
                          <label class="mr-3">TUTORIALS :VIEW </label>
                          
                          <a routerLink="/tutorial-edit" class="link font17"><i class="fas fa-edit mr-1"></i> Edit</a>
                      </div>
                      <div class="row">
                        <div class="col-md-4" *ngFor="let data of Images">
                      <div class="d-flex text-center mb-2  flex-wrap">
                        <img src={{data}} style="max-width:150px;height:150px;">
                        </div>
                    </div>
                      </div>
                      
                  </div>
              </div>
          </div>
          </div>       
</main>



<!-- signout_modal Start -->
<div class="modal fade global-modal reset-modal" id="logout_modal">
  <div class="modal-dialog max-WT-450">
      <div class="modal-content">
          <div>
              <!-- Modal body -->
              <div class="modal-body  text-center">
                  <div class="row align-items-center modal_flax_height">
                      <div class="col">
                          <div class="box-title mb30 d-inline-block">
                              <i class="fas fa-power-off off-icon"></i>
                              <p class="mt40">Are you sure you want to logout?</p>
                          </div>
                          <div class="text-center">
                              <a routerLink="/login" class="btn btn-blue btn-noYes">YES</a>
                              <button type="button" class="btn btn-red btn-noYes" data-dismiss="modal">CANCEL</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>