<div class="login-wrapper">
  <div class="container-common">
      <div class="row justify-content-center">
          <div class="col-md-6">
              <form class="login_box_outer" [formGroup]="forgotPasswordForm">
                  <div class="login-logo1 text-center mb30">
                       <img src="../assets/img/logo-blue.png" alt="logo" />
                
                    </div>
                  <div class="login-box max-WT-520">
                      <div class="login-right-block">
                          <div class="login-heading">
                              <h4 class="font26">Forgot Password</h4>
                          </div>
                          <div class="login-box-body">
                              <div class="form-group">
                                  <label class="common-label blue">Enter email</label>
                                  <input type="text" class="form-control" placeholder="Please enter your email" formControlName='email' >

                               
                                <div *ngIf="forgotPasswordForm.get('email').errors && (forgotPasswordForm.get('email').touched || forgotPasswordForm.get('email').dirty)">
                                    <div *ngIf="forgotPasswordForm.controls['email'].hasError('required')"><span style="color:red">*Please enter an email</span></div>
                                    <div *ngIf="forgotPasswordForm.controls['email'].hasError('pattern')"><span style="color:red">*Please enter valid email</span></div>
                                    <div *ngIf="forgotPasswordForm.controls['email'].hasError('maxlength')"><span style="color:red">*Maximum 50 characters are allowed</span></div>
                                  </div>
                              </div>
                              <div class="text-center mt40">
                                  <button type="submit" class="btn btn-login btn-large" (click)="onSubmitClick()" [disabled]="forgotPasswordForm.invalid">Submit</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>