<app-side-menu></app-side-menu>
<app-header-bar></app-header-bar>
<main class="middle-content">
    <div class="content-section">
        <div class="page_title_block">
            <h1 class="page_title">Sub Admin Management</h1>
        </div>
        <div class="outer-box">
            <div class="search-block d-flex align-items-center mb20 mt20">
                <div class="d-flex align-items-center justify-content-between w-100">
                    <label class="pr-4 font16 mb-0">Sub Admin List :</label>
                    <div class="filter_search d-block mr-0">
                        <div class="input-group filter_search_group">
                            <input type="text" class="form-control" [(ngModel)]="searchkey" name="searchkey"
                                (keyup)="search(1)" placeholder="Search by full name/email">
                            <div class="input-group-append">
                                <button class="btn btn_search_group" type="button"><img
                                        src="../assets/img/icon-search.png" alt="Search"></button>
                            </div>
                        </div>
                    </div>

                    <!-- <button (click)="exportAsXLSX()">Export</button> -->
                    <div class="ml-auto">
                        <a routerLink="/add-subadmin" class="link font17"><i class="fas fa-plus-circle mr-1"></i> Add
                            Sub Admin</a>
                        <a *ngIf="userType != 'SUBADMIN'" (click)="exportAsXLSX()" class="link font17 ml-3"
                            style="cursor: pointer;"> <i class="fas fa-download"></i> Export</a>

                    </div>
                </div>
            </div>
            <div class="global-table no-radius p0">
                <div class="table-responsive">
                    <table class="table table-bordered table-edit">
                        <thead>
                            <tr class="no_wrap_th">
                                <th>S.No.</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th class="action_td_btn3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of user?.result | paginate :{itemsPerPage:user?.paginationData?.limit , currentPage:user?.paginationData?.page, totalItems: user?.paginationData?.total};index as i">
                                <td>{{(i+1)+ srNo}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.email}}</td>
                                <td class="action_td_btn3">
                                    <a (click)="edit(item?._id)" class="edit-field" style="cursor:pointer"><i
                                            class="fa fa-edit"></i></a>
                                    <a (click)="deleteSubAdminFunc(item._id,item.status)" data-backdrop="static"
                                        data-toggle="modal" class="view-icon" style="cursor:pointer"> <i
                                            class="fa fa-trash"></i></a>
                                    <label class="switch">
                                        <input type="checkbox" (click)="sliderRoundFunc(item._id,item.status)"
                                            [checked]="item.status == 'ACTIVE'">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr *ngIf="user == '' ">
                                <span>No record found</span>
                            </tr>






                            <!-- <tr>
                                  <td>1</td>
                                  <td>Shikha Singh</td>
                                  <td>shikha@outlook.com</td>
                                  <td class="action_td_btn3">
                                      <a  routerLink="/edit-subadmin " class="edit-field"><i class="fa fa-edit"></i></a>
                                      <a href="#delete" data-toggle="modal" class="view-icon"> <i class="fa fa-trash"></i></a>
                                      <label class="switch">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                      </label>
                                  </td>
                              </tr> -->
                        </tbody>
                    </table>
                </div>
                <!-- <div class="custom-pagination mt30 text-center">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                      <span aria-hidden="true">«</span>
                                      <span class="sr-only">Previous</span>
                                  </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                      <span aria-hidden="true">»</span>
                                      <span class="sr-only">Next</span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div> -->

                <div class="custom-pagination mt30 text-center">
                    <nav aria-label="Page navigation example">
                        <!-- *ngIf="user?.paginationData?.total >
                          user?.paginationData?.limit" -->
                        <div>
                            <pagination-controls (pageChange)="search($event)"></pagination-controls>
                        </div>

                    </nav>
                </div>
            </div>

        </div>
    </div>
    <!-- Table Responsive End -->

</main>


<!-- signout_modal Start -->
<div class="modal fade global-modal reset-modal" id="logout_modal">
    <div class="modal-dialog max-WT-450">
        <div class="modal-content">
            <div>
                <!-- Modal body -->
                <div class="modal-body  text-center">
                    <div class="row align-items-center modal_flax_height">
                        <div class="col">
                            <div class="box-title mb30 d-inline-block">
                                <i class="fas fa-power-off off-icon"></i>
                                <p class="mt40">Are you sure you want to logout?</p>
                            </div>
                            <div class="text-center">
                                <a routerLink="/login" class="btn btn-blue btn-noYes">YES</a>
                                <button type="button" class="btn btn-red btn-noYes" data-dismiss="modal">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Signout Modal END-->

<!-- delete_modal Start -->
<div class="modal fade global-modal reset-modal" id="delete">
    <div class="modal-dialog max-WT-450">
        <form class="change_password">
            <div class="modal-content">
                <div class="inner_border_area">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="modal-body">
                        <div class="text-center modal_flax_height d-flex align-items-center justify-content-center">
                            <div class="w-100">
                                <p>Are you sure you want to delete this sub admin?</p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info" data-dismiss="modal"
                                        (click)="deleteSubAdmin()">Delete</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>