<app-side-menu ></app-side-menu>
<app-header-bar></app-header-bar>
  <main class="middle-content">
      <div class="content-section">
              <div class="page_title_block">
                  <h1 class="page_title">Tutorial Management </h1>
                </div>
              <div class="static-block">
                    <form [formGroup]="tutorialForm">
                  <div class="order-view mt-3 input-style">
                      <div class="form-group">
                          <label class="pb-2">Title :</label>
                          <input type="text" class="form-control" placeholder="Tutorials" disabled>
                      </div>
                      <div class="form-group">
                          <label class="pb-2">Description :</label>
                           <textarea name="textarea" formControlName="description" class="jqte-test form-control">
                           
                           </textarea>
                      </div>
                      <div class="text-center mt40">
                          <a (click)="updateTutorial()" class="btn btn-large  max-WT-150 btn-green">Update</a>
                          <a routerLink="/static-content-management" class="btn btn-large  max-WT-150 btn-red ml-2">Cancel</a>
                      </div>
                  </div>
      
                </form>
          </div>
      </div>

</main>

<!-- signout_modal Start -->
<div class="modal fade global-modal reset-modal" id="logout_modal">
  <div class="modal-dialog max-WT-450">
      <div class="modal-content">
          <div>
              <!-- Modal body -->
              <div class="modal-body  text-center">
                  <div class="row align-items-center modal_flax_height">
                      <div class="col">
                          <div class="box-title mb30 d-inline-block">
                              <i class="fas fa-power-off off-icon"></i>
                              <p class="mt40">Are you sure you want to logout?</p>
                          </div>
                          <div class="text-center">
                              <a href="login.html" class="btn btn-blue btn-noYes">YES</a>
                              <button type="button" class="btn btn-red btn-noYes" data-dismiss="modal">CANCEL</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>